POSTGRES_DB=eventosvivos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
FRONTEND_ORIGIN=http://localhost:4200

# Puertos publicados en el host (cambialos si ya tienes algo corriendo en 5433/8081)
POSTGRES_PORT=5433
API_PORT=8081
